header {
   
}
.YourName {
    color: white;
    background-color: teal;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 32px;
    float: left;
}

nav {
    float: right;
}



 